<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hello Facebook</title>
</head>
<body>
<h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>

<h4>Here is your feed:</h4>

<div th:each="post:${feed}">
    <b th:text="${post.from.name}">from</b> wrote:
    <p th:text="${post.message}">message text</p>
    <video th:src="${post.source}" th:poster="${post.picture}" th:if="${post.type eq 'VIDEO'}">
        This is fallback content to display for user agents that do not support the video tag.
    </video>
    <img th:if="${post.type eq 'PHOTO'}" th:src="${post.source}"/>
    <hr/>
</div>
</body>
</html>